server.tar
*.env
*.log
*.zip
*.tar
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lz
*.tar.lzma
./mongo-data/
mongo-data
./node_modules/
node_modules
./dist/
./build/
build
dist
*.tgz
*.pem
*.key
*.crt
*.p12
*.pfx
*.jks                   